.darkHeading {
  font-size: 23px;
  font-weight: 800;
  font-family: sans-serif;
  margin-bottom: 10px;
  color: white;
  margin-top: 0px;
}
.heading {
  font-size: 23px;
  font-weight: 800;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
}
.grid {
  margin-top: 10px;
  max-width: 300px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
}
.root {
  color: rgba(0, 0, 0, 0.8);
}

.learnText {
  color: #4f8dff;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: sans-serif;
}

.darkTitle {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  margin-right: 10px;
}
.title {
  color: #4f8dff;
  font-weight: 700;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  margin-right: 10px;
}
.walletBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background: rgb(239, 244, 245);
  border-radius: 15px;
  cursor: pointer;
}
.walletBtn:hover {
  background: rgba(239, 244, 245, 0.5);
}

.darkWalletBtn {
  justify-content: space-between;
  padding: 8px 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.darkWalletBtn:hover {
  background: rgba(0, 0, 0, 0.6);
}
