@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
.root {
  color: rgba(255, 255, 255, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.divider {
 width: 2px;
 height:140%;
 margin-top: -4%;
 background: linear-gradient(359.59deg, #031EE3 -1.98%, #D034C8 58.73%, #FFC511 109.37%);
}
.title {
  color: white;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}

.walletsContainer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}
.walletsContainer > img{
  object-fit: contain;
}
.walletBtnContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}