.root {
  background: linear-gradient(
    245.22deg,
    #c200fb 7.97%,
    #3772ff 49.17%,
    #3773fe 0,
    #5ac4be 92.1%
  );
  border-radius: 5px;
  padding: 1px;
}
.body {
  background-color: #131a35;
  padding: 30px;
  border-radius: 5px;
  opacity: 0.9;
}

/* Sm */
@media only screen and (max-width: 600px) {
  .body {
    padding: 20px;
  }
}

/* XS */
@media only screen and (max-width: 400px) {
  .body {
    padding: 16px;
  }
}
